## 1 Funktionen als Objekte (First-Class Objects)

In [ ]:
def greet(name):
    return f"Hallo, {name}"

x = greet  # Funktion in Variable speichern
print(x("Alice"))  # Erwartet: Hallo, Alice

Hallo, Alice

## 2 Higher-Order Function Beispiel

In [ ]:
def apply_twice(func, value):
    return func(func(value))

print(apply_twice(abs, -5))  # abs(-5)=5 -> abs(5)=5
print(apply_twice(str, 7))   # str(7) = '7' -> str('7') = '7'

5
7

## 3 map: Funktion auf alle anwenden

In [ ]:
words = ["Apfel", "Kiwi", "Banane"]
map_example = map(len, words)
print(list(map_example))  # Erwartet: [5, 4, 6]

[5, 4, 6]

## 4 filter: Auswahl mit Funktion

In [ ]:
numbers = [3, 4, 7, 8, 10]
filter_example = filter(lambda x: x % 2 == 0, numbers)
print(list(filter_example))  # Erwartet: [4, 8, 10]

[4, 8, 10]

## 4b filter mit Lambda f√ºr Startbuchstaben

In [ ]:
words = ["Apfel", "Banane", "Ananas"]
filtered = filter(lambda s: s.startswith("A"), words)
print(list(filtered))  # Erwartet: ['Apfel', 'Ananas']

['Apfel', 'Ananas']

## 5 List Comprehensions: Python-Alternative

In [ ]:
print([len(word) for word in ["Apfel", "Kiwi", "Banane"]])  # [5, 4, 6]
print([x for x in [3, 4, 7, 8, 10] if x % 2 == 0])          # [4, 8, 10]

[5, 4, 6]
[4, 8, 10]